#serviceHome {
  padding: 80px 0; // Ümumi kənar boşluq

  .container {
    // Container-un strukturuna toxunulmur
  }

  .head {
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    position: relative;

    .head-left {
      flex: 0.8;
      display: flex;
      align-items: center;
      gap: 16px;

      hr {
        width: 15%;
        border: 1px solid #EE9026;

        @media (max-width: 992px) {
          width: 25%;
        }
        @media (max-width: 576px) {
          width: 35%;
        }
      }

      h4 {
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #EE9026;

        @media (max-width: 992px) {
          font-size: 18px;
        }
        @media (max-width: 576px) {
          font-size: 16px;
        }
      }

      @media (max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    .head-right {
      h1 {
        font-weight: 700;
        font-size: 40px;
        line-height: 60px;
        //width: 80%;

        @media (max-width: 992px) {
          font-size: 32px;
          line-height: 48px;
          width: 100%;
        }
        @media (max-width: 576px) {
          font-size: 28px;
          line-height: 42px;
        }
      }
    }

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;

      padding: 0 10px;
      margin-bottom: 60px;

      img {
        position: static;
        display: block;
        margin: 20px auto;
        max-width: 80%;
      }
    }

    @media (max-width: 576px) {
      padding: 0 8px;
      margin-bottom: 40px;

      img {
        max-width: 100%;
      }
    }
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  .more{
    margin: 0 auto;
    width: max-content;
    position: relative;
    border: 1px solid #B2B2B2;
    border-radius: 25px;
    padding: 12.5px 36px 12.5px 16px;
    button{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -15px;
      border-radius: 50%;
      border: none;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #000000;
      cursor: pointer;
      color: #FFFFFF;
      font-size: 18px;
      transition: all 0.3s ease-in-out;
    }
  }

  img.img-fluid {
    width: 100%;
    height: auto;
    display: none;
    margin: 20px auto;
  }
}
