#contact-page {
  .banner {
    height: 400px;
    background-position: center;
    object-fit: cover;
    text-align: center;
    align-content: center;
    color: white;
    background-repeat: no-repeat;

    .head {
      border-bottom: 1px solid #B7B7B7;
      width: 100%;

      h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 72px;
        margin-bottom: 13px;
      }
    }

    p {
      margin-top: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

      .dot {
        width: 12px;
        height: 12px;
        background-color: #EE9026;
        border-radius: 50%;
        margin: 0 8px 0 16px;
      }

      a {
        color: white;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #EE9026;
        }
      }
    }
  }

  .header {
    padding: 90px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 72px;
    }

    .circle {
      position: absolute;
      bottom: -50%;
      right: 0;
    }
  }

  .contact {
    padding: 130px 0 90px;
    background-color: #F3F4F9;
    margin-bottom: 110px;

    .form-section {
      padding: 37px 42px;
      background-color: #FFFFFF;
      align-items: end;

      .form {
        .form-head {
          color: #EE9026;
          margin-bottom: 24px;
          display: flex;
          align-items: center;
          gap: 16px;

          hr {
            width: 10%;
            border: 1px solid #EE9026;
          }

          h2 {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            width: 60%;
          }
        }

        .form-body {
          label {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 10px;
          }

          input {
            width: 100%;
            height: 55px;
            border-radius: 8px;
            border: 1px solid #EBEBEB;
            box-shadow: 2px 2px 3px 0px #D1D1D140;
            padding: 17px 22px 17px 22px;
            outline: none;
          }

          textarea {
            width: 100%;
            border-radius: 8px;
            border: 1px solid #EBEBEB;
            box-shadow: 2px 2px 3px 0px #D1D1D140;
            padding: 17px 22px 17px 22px;
            outline: none;
          }

          button {
            width: 100%;
            padding: 14px 22px;
            background-color: black;
            color: white;
            border: none;
            border-radius: 18px;
            font-weight: 500;
            font-size: 16px;
            line-height: 21px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

/* Tablet və orta ölçülü cihazlar üçün */
@media (max-width: 768px) {
  #contact-page {
    .banner {
      height: 250px;

      .head {
        h1 {
          font-size: 32px;
          line-height: 48px;
        }
      }

      p {
        font-size: 14px;

        .dot {
          margin: 0 4px;
        }
      }
    }

    .header {
      padding: 70px 0;
      h1 {
        font-size: 32px;
        line-height: 56px;
      }
      .circle {
        /* Düzəlişlərə ehtiyac varsa burada tətbiq edin */
        bottom: -60%;
      }
    }

    .contact {
      padding: 90px 0 70px;
      margin-bottom: 60px;

      .form-section {
        padding: 20px 30px;

        .form {
          .form-head {
            flex-direction: column;
            text-align: center;
            gap: 12px;

            hr {
              width: 30%;
            }

            h2 {
              width: 100%;
              font-size: 18px;
            }
          }

          .form-body {
            label {
              font-size: 14px;
            }

            input,
            textarea {
              padding: 12px 16px;
            }

            button {
              padding: 12px 16px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

/* Mobil cihazlar üçün */
@media (max-width: 480px) {
  #contact-page {
    .banner {
      height: 200px;

      .head {
        h1 {
          font-size: 28px;
          line-height: 40px;
        }
      }

      p {
        font-size: 12px;
      }
    }

    .header {
      padding: 50px 0;
      h1 {
        font-size: 28px;
        line-height: 42px;
      }
      .circle {
        bottom: -50%;
      }
    }

    .contact {
      padding: 70px 0 50px;
      margin-bottom: 40px;

      .form-section {
        padding: 15px 20px;

        .form {
          .form-head {
            flex-direction: column;
            text-align: center;
            gap: 10px;

            hr {
              width: 40%;
            }

            h2 {
              font-size: 16px;
              width: 100%;
            }
          }

          .form-body {
            label {
              font-size: 12px;
            }

            input,
            textarea {
              padding: 10px 14px;
            }

            button {
              padding: 10px 14px;
              font-size: 14px;
            }
          }
        }
        .map {
          iframe {
            height: 350px;
          }
        }
      }
    }
  }
}
