#logoScrollHome {
  padding: 20px 0 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  .wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 10px 0;
    position: relative;
    white-space: nowrap;

    .box {
      width: 270px;
      padding: 0 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      height: 80px;
      object-fit: contain;
      transition: all 0.2s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      img {
        width: 100%;
        aspect-ratio: 16/9;
        object-fit: contain;
      }
    }
  }

  .left {
    animation: scrollLeft 2000s linear infinite;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Tablet cihazlar üçün */
@media (max-width: 768px) {
  #logoScrollHome {
    padding: 20px 0;
    .wrapper {
      gap: 15px;
      .box {
        width: 150px;
        height: 60px;
        padding: 0 24px;
      }
    }
  }
}

/* Mobil cihazlar üçün */
@media (max-width: 480px) {
  #logoScrollHome {
    padding: 15px 0;
    .wrapper {
      gap: 10px;
      .box {
        width: 120px;
        height: 50px;
        padding: 0 16px;
      }
    }
  }
}
