.banner-slider {
  position: relative;
  overflow: hidden;
  height: 620px;

  .hr {
    height: 1px;
    background-color: white;
    margin: 0 16px;
  }

  .slide {
    position: absolute;

    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    &.active {
      left: 0;
      opacity: 1;
    }
  }

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 90px 0;
    transform: translate(-50%, -50%);
    z-index: 3;
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;

    .banner-content {
      padding: 0 16px;
      color: #fff;

      h1 {
        font-weight: 800;
        font-size: 48px;
        line-height: 72px;
        width: 80%;
        margin-bottom: 35px;
      }

    }

    .more {
      width: max-content;
      position: relative;
      border: 1px solid #B2B2B2;
      color: white;
      border-radius: 25px;
      padding: 12.5px 36px 12.5px 16px;

      button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -15px;
        border-radius: 50%;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #EE9026;
        cursor: pointer;
        color: #FFFFFF;
        font-size: 18px;
        transition: all 0.3s ease-in-out;
      }
    }

    .bannerfoot {
      .more{
        cursor: pointer;
        @media (max-width: 768px) {
          padding: 12.5px 36px 12.5px 8px;

        }
        @media (max-width: 480px) {
          padding: 12.5px 36px 12.5px 8px;

        }
      }
      color: white;
      width: 45%;
      margin-left: auto;
      display: flex;
      justify-content: end;
      gap: 30px;
      margin-top: 57px;
      align-items: center;
      padding-left: 16px;
      padding-right: 16px;
      @media (max-width: 768px) {
        gap: 15px;
        width: 100%;
      }
      @media (max-width: 480px) {
        gap: 15px;
        width: 100%;
      }
      p {
        width: 80%;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
      }
    }

    .pagination-dots {
      position: absolute;
      left: 0;
      bottom: 23%;
      display: flex;
      justify-content: center;
      gap: 5px;
      padding-left: 16px;

      .dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        transition: background-color 0.3s;

        &.active {
          background-color: #000000;
        }
      }
    }
  }

  @media screen and (max-width: 992px) {
    .container {
      .banner-content {
        h1 {
          font-size: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    .container {
      .banner-content {
        h1 {
          font-size: 20px;
          line-height: 48px;
        }
      }
    }
  }
}
